.header{
    margin-left: 55px;
    margin-top: 104px;
    font-size: 30px;
}
.container{
    display: flex;
    flex-direction: row;
    width: 1440px;
    flex-flow: wrap;
    align-items: baseline;
    border-radius: 5px;
    margin-left: 55px;
}
.color1{
    background-color:#f07878 ;
}
.color3{
    background-color:#467FD3;
}
.color2{
    background-color:#D39346; 
}
.top{
    margin-top: 54px;
}
.size{
    box-sizing: border-box;
}
.height{
    height:210px;
}
.box1{
    width: 684px;
    margin-left: 23px;
}
.box2{
    width: 354px;
    margin-left: 28px;
}
.box3{
    width: 299px;
    margin-left: 29px;
}
.box4{
    border:2px solid #f07878;
    margin-top: 26px;
}
.box5{
    border:2px solid #D39346;
}
.box6{
    border:2px solid #467FD3;
}
.container1{
    margin-top:40px ;
}
.height2{
    height: 118px;
}
.box7{
    width: 375px;
}
.box8{
    width: 194px;
    margin-left: 15px;
}
.box9{
    width: 164px;
    margin-left: 15px;
}
.row3{
    justify-content: center;
}
.row4{
    justify-content: flex-start;
    margin-left:23px;
}
.row5{
    justify-content: flex-end;
    margin-right: 10px;
}